<div class="announcement-list">
	<h2 class="serif">Announcements</h2>
	<ul class="announcement-links">
		<li *ngFor="#announcement of announcements">
			<button class="primary" (click)="showViewModal(announcement)">{{announcement.title}}</button>	
		</li>
	</ul>
	<button (click)="showCreateModal()">Make Announcement</button>

	<div #createModal>
	  <modal title="Create Announcement">
	    <announcement-form hiddenButton="true">
	      <button (click)="modalPostClicked()">Post Announcement</button>
	    </announcement-form>
	  </modal>
	</div>

	<div #viewModal>
	  <modal title="Announcement">
	  	<div *ngIf="currentAnnouncement != null">
	  		<p class="title">{{currentAnnouncement.title}}</p>
		    <p class="author-info">{{currentAnnouncement.author}} at {{currentAnnouncement.prettyTime}}</p>
		    <p class="body">{{currentAnnouncement.body}}</p>
	    </div>
	  </modal>
	</div>
	
</div>