<div class="navbar">
  <div class="container">

    <ul class="nav-links left">
      <li class="brand serif" (click)="homeLinkClicked()">
        Tethr
      </li>
    </ul>

    <ul class="nav-links right">

      <li *ngIf="_userDataService.user == null" (click)="signIn()">Sign in</li>

      <li 
        *ngIf="_userDataService.user != null"
        (mouseover)="showDropdown(userDropdown)"
        (click)="profileClicked()">{{_userDataService.user.firstName}}</li>
      <ul #userDropdown class="nav-links dropdown" (mouseleave)="hideDropdown(userDropdown)" hidden="true">
        <li (click)="signOut()">Sign out</li>
      </ul>
    </ul>

  </div>
</div>
<div #signInModal>
  <modal title="Sign In">
    <sign-in-form hiddenButton="true">
      <button (click)="modalSignInClicked()">Sign In</button>
    </sign-in-form>
  </modal>
</div>
