announcement-list {

	.announcement-list {
	    align-items: center;
	    flex-direction: column;
	}
	
	h2 {
		padding: 1rem;
	}

	.announcement-links {
		flex-direction: column;
		width: 50%;

		>li {
			width: 100%;
			margin-bottom: .5rem;

			>button {
				width: 100%;
			}
		}
	}

	.buttons {
	    width: 50%;
	    justify-content: space-around;

	    >button {
	    	padding: .5rem 1rem;
	    }
	}

	announcement-form {
		width: 100%;

		textarea {
			resize: none;
		}
	}

	.view-announcement {

		flex-direction: column;

		hr {
			flex: 1;
	    	border: none;
	    	border-bottom: solid 1px #ccc;
	    	margin-right: 1rem;
		}

		.title {
			padding: .5rem 0;
		}

		.author-info {
		    color: gray;
		    justify-content: flex-end;
		}

		p.body {
		    margin-top: 1rem;
		}

	}
}