button {
	border: none;
    border-bottom: solid 4px $shadow-gray;
    background-color: $dark-gray;
    color: white;
    font-size: 1rem;
    padding: .5rem;
    text-shadow: 0 2px 4px $shadow-gray;
    cursor: pointer;

    &:hover {
    	background-color: $shadow-gray;
    }

    &.success {
        background-color: $flat-green;
        border-color: $flat-dark-green;

        &:hover {
            background-color: $flat-dark-green;
        }
    }

    &.primary {

        background-color: $flat-blue;
        border-color: $flat-dark-blue;

        &:hover {
            background-color: $flat-dark-blue;
        }
    }

    &.secondary {

        background-color: $light-gray;
        border-color: $gray;

        &:hover {
            background-color: $gray;
        }
    }

}