.navbar {
	
	width: 100%;
	height: 50px;
	background-color: $flat-orange;
	color: white;

	justify-content: center;

	.nav-links {
		
		&.dropdown {
		    flex-direction: column;
		    position: absolute;
		    justify-content: flex-start;
		    top: 50px;
		    right: 0;

		    &>li {
			    min-height: 50px;
			    width: 100%;
			    background-color: #E27A3F;
			}
		}

		&.left {
			flex: 1;
		}

		>li {
			height: 100%;

			align-items: center;
			padding: 0 1rem;

			cursor: pointer;

			font-size: 1rem;

			&.brand {
				font-size: 1.5rem;
			}

			&.active {
				background-color: $flat-dark-orange;
				cursor: default;
			}

			&:hover {
				background-color: $flat-dark-orange;
			}
		}

	}
}
