welcome-page {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
    	
        background-color: #111;
        color: white;

    }

    .intro {

        width: 100%;
        padding: 1rem 0;

        @media screen and (max-width: 520px) {
            flex-direction: column;
            align-items: center;
            overflow: auto;
        }

        &>div {
            padding: 1rem;
            width: 50%;
            flex-direction: column;
        }


        &>.left {
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 4rem;
                font-family: 'Roboto Slab';
            }
        }

    }
}